﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Andoink</title>

    <!-- HTML/CSS Template from https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_startup -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <!-- Navbar (sit on top) -->
    <div class="w3-top">
        <div class="w3-bar w3-white w3-card" id="myNavbar">
            <a asp-page="/Index" class="w3-bar-item w3-button w3-wide">ANDOINK</a>
            <!-- Right-sided navbar links -->
            <div class="w3-right w3-hide-small">
                <a class="w3-bar-item w3-button" asp-page="/About"><i class="fa fa-user"></i> ABOUT</a>
                <a class="w3-bar-item w3-button" asp-page="/DoinkGames"><i class="fa fa-desktop"></i> DEVELOPER</a>
                <a class="w3-bar-item w3-button" asp-page="/Maker"><i class="fa fa-cog"></i> MAKER</a>
                <a class="w3-bar-item w3-button" asp-page="/FilmReviews"><i class="fa fa-film"></i> REVIEWER</a>
                <a class="w3-bar-item w3-button" asp-page="/Contact"><i class="fa fa-envelope"></i> CONTACT</a>
            </div>
            <!-- Hide right-floated links on small screens and replace them with a menu icon -->

            <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>

    <!-- Sidebar on small screens when clicking the menu icon -->
    <nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
        <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
        <a onclick="w3_close()" class="w3-bar-item w3-button" asp-page="/About">ABOUT</a>
        <a onclick="w3_close()" class="w3-bar-item w3-button" asp-page="/DoinkGames">DEVELOPER</a>
        <a onclick="w3_close()" class="w3-bar-item w3-button" asp-page="/Maker">MAKER</a>
        <a onclick="w3_close()" class="w3-bar-item w3-button" asp-page="/FilmReviews">REVIEWER</a>
        <a onclick="w3_close()" class="w3-bar-item w3-button" asp-page="/Contact">CONTACT</a>
    </nav>

        <!-- Header works here and not in Index? -->

        <!--<div class="container body-content">-->
            @RenderBody()
            <hr />
            <footer style="text-align: center">
                <!-- Social Media -->
                <!--<div class="w3-display-bottomleft w3-text-grey w3-large" style="padding:24px 48px">
                    <i class="fa fa-facebook-official w3-hover-opacity"></i>
                    <i class="fa fa-instagram w3-hover-opacity"></i>
                    <i class="fa fa-snapchat w3-hover-opacity"></i>
                    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
                    <i class="fa fa-twitter w3-hover-opacity"></i>
                    <i class="fa fa-linkedin w3-hover-opacity"></i>
                </div>-->

                <p>
                    <a href="https://www.facebook.com/andoink" target="_blank">
                        <img src="~/images/fb_icon.png" alt="Facebook" height="30" width="30" />
                    </a>
                    <a href="https://twitter.com/andoink1" target="_blank">
                        <img src="~/images/twitter_icon.png" alt="Twitter" height="30" width="30" />
                    </a>
                    <a href="https://www.instagram.com/andoink1/" target="_blank">
                        <img src="~/images/ig_icon.png" alt="Instagram" height="30" width="30" />
                    </a>
                    <a href="https://www.linkedin.com/in/andrew-crossman-6a6684151/" target="_blank">
                        <img src="~/images/linkedin_icon.png" alt="LinkedIn" height="30" width="30" />
                    </a>
                    <a href="https://steamcommunity.com/id/andoink" target="_blank">
                        <img src="~/images/steam_icon.png" alt="Steam" height="30" width="30" />
                    </a>
                </p>
                <!-- Copyright -->
                <p>&copy; 2018 - Andoink</p>
            </footer>
        <!--</div>-->

        <partial name="_CookieConsentPartial" />

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>


        @RenderSection("Scripts", required: false)
</body>
</html>
