/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif
}

body, html {
    height: 100%;
    line-height: 1.8;
}
/* Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("/images/banner_dev.svg");
    min-height: 100%;
}

.w3-bar .w3-button {
    padding: 16px;
}

.outlined {
    text-shadow: 
        -1px -1px #000000, 
        1px -1px #000000,
        -1px 1px #000000,
        1px 1px #000000;
}

button.pop {
    background: none;
    background-color: #e1e5ed;
    border-style: none;
    border-radius: 6px;
    transition-duration: 0.3s;
}

button.pop:hover {
    background-color: lightgrey;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 10px 20px 0 rgba(0,0,0,0.19);
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    margin: auto;
    display: block;
    /*width: 50%;*/
    max-height: 90%;
    max-width: 700px;
    animation-name: zoom;
    animation-duration: 0.3s;
}

@keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

#overlay {
    background-image: url("../images/hbj/ironfist-s.jpg");
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.rainbow {
    /* Chrome, Safari, Opera */
    -webkit-animation: rainbow 2s infinite;
    /* Internet Explorer */
    /*-ms-animation: rainbow 3s infinite;*/
    /* Standard Syntax */
    animation: rainbow 2s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow {
    0% {
        color: red;
    }

    15% {
        color: orange;
    }

    30% {
        color: yellow;
    }

    45% {
        color: green;
    }

    60% {
        color: blue;
    }

    75% {
        color: purple;
    }

    100% {
        color: red;
    }
}

/* Standard Syntax */
@keyframes rainbow {
    0% {
        color: red;
    }

    15% {
        color: orange;
    }

    30% {
        color: yellow;
    }

    45% {
        color: green;
    }

    60% {
        color: blue;
    }

    75% {
        color: purple;
    }

    100% {
        color: red;
    }
}

.body-content {
    height: 100%;
    line-height: 1.8;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
    text-shadow: -1px -1px #000000, 1px -1px #000000, -1px 1px #000000, 1px 1px #000000;
    /* color: #000000; */
    font-weight: bold;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

.multi-item-carousel.carousel-inner.item{
    transition: 500ms ease-in-out left;
}
.multi-item-carousel.carousel-inner.active.left{
    left:-10%;
}
.multi-item-carousel.carousel-inner.active.right {
    left: 10%;
}
.multi-item-carousel.carousel-inner.next {
    left: 10%;
}
.multi-item-carousel.carousel-inner.prev {
    left: -10%;
}
@media all and (transform-3d), (-webkit-transform-3d) {
    .item{
        /*use prefixer here?*/
        transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out all;
        backface-visibility: visible;
        transform: none!important;
    }
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 700px) {

    .modal-content {
        width: 100%;
    }
}