﻿@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="w3-container" style="padding:128px 16px" id="about">
    <h2 class="w3-center">The Man Himself</h2>
    <div class="w3-row-padding w3-center" style="margin-top:64px">
        <div class="w3-quarter">
            <i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center"></i>
            <p class="w3-large">Developer</p>
            <p>Computer scientist by trade, aspiring indie developer, and founder of Doink Games. I even made this website myself using .NET Core!</p>
        </div>
        <div class="w3-quarter">
            <i class="fa fa-cog w3-margin-bottom w3-jumbo"></i>
            <p class="w3-large">Maker</p>
            <p>From 3D-printing to Raspberry Pis, I love tinkering and making new things. My list of projects is always growing.</p>
        </div>
        <div class="w3-quarter">
            <i class="fa fa-gamepad w3-margin-bottom w3-jumbo"></i>
            <p class="w3-large">Gamer</p>
            <p>Games. So many games. Played them forever, now I'm making them.</p>
        </div>
        <div class="w3-quarter">
            <i class="fa fa-film w3-margin-bottom w3-jumbo"></i>
            <p class="w3-large">Cinephile</p>
            <p>Movies and shows are a huge passion of mine. I even rate all the movies I've seen... because that's a thing people do, right?</p>
        </div>
    </div>
</div>
