﻿@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}

<div class="w3-container" style="padding:128px 16px" id="about">
    <h2 class="w3-center">Contact</h2>
    <div class="w3-center">
        <address>
            1 McGnoynk Way<br />
            Doinkerville, VA 99999<br />
            <abbr title="Phone">P:</abbr>
            999-999-9999
        </address>
    </div>
</div>

@*<strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
