﻿@page
@model Andoink_Site.Pages.DoinkGamesModel
@{
    ViewData["Title"] = "Doink Games";
}

<div class="w3-container" style="padding:128px 16px" id="about">
    <h2 class="w3-center">Doink Games</h2>
    <h3 class="w3-center">Aspiring indie game developer</h3>
    <div class="w3-center">
        <img src="~/images/p1_comingsoon.png" alt="Coming soon!" />
    </div>
</div>