﻿@page
@model Andoink_Site.Pages.FilmReviewsModel
@{
    ViewData["Title"] = "Film Reviews";
}

<div class="w3-container" style="padding:128px 16px" id="about">
    <h2 class="w3-center">Film Reviews</h2>
    <h3 class="w3-center">Coming soon!</h3>
    <div class="w3-center">
    </div>
</div>
