﻿@page
@model Andoink_Site.Pages.HappyBirthdayJennModel
@{
    ViewData["Title"] = "Happy Birthday Jenn!";
}

<style>
    p {
        text-align: center;
    }
</style>

<div class="w3-container w3-center " style="padding:128px 16px">
    <h2 style="text-align:center;" class="rainbow"><strong>Happy Birthday Jennifer!</strong></h2>
    <br />
    <p><i><strong style="color:red">Note: </strong><button class="pop" onclick="modal_on('bday-desk.jpg')">Click these buttons!</button> Click the images to close.</i></p>
    <br />
    <br />
    <div id="myModal" class="modal">
        <img class="modal-content" id="img01" src="~/images/hbj/ironfist.jpg" />
    </div>

    <p>
        From critical <button class="pop" onclick="modal_on('coffeetime.gif')">coffee time gifs</button>, to sharing ATP pain <br />
        With lunch outings and daily Teams keeping us sane <br />
        A <button class="pop" onclick="modal_on('narwhal.jpg')">hidden narwhal</button> and some <button class="pop" onclick="modal_on('snowflakes.jpg')">snowflakes for the Christmas feeling</button> <br />
        Because apparently we like to hang things from the ceiling? <br />
    </p>

    <p>
        From intern, to Trekker, to <button class="pop" onclick="modal_on('stingrays.jpg')">Stingray</button>, to <button class="pop" onclick="modal_on('yeti.jpg')">Yeti</button><br />
        So many teams, can't you just stay still already? :P <br />
        Celebrating your new journey with <button class="pop" onclick="modal_on('party.jpg')">a party</button> and <button class="pop" onclick="modal_on('cake.jpg')">some cake</button><br />
        And making you pick lunches for everyone’s sake<br />
    </p>

    <p>
        From a shared passion for all things Disney<br />
        To your <button class="pop" onclick="modal_on('zuko.gif')">enlightening me on Avatar</button> and Ghibli<br />
        Always exchanging top movie recommendations<br />
        An infinite backlog for our cinema addictions<br />
    </p>

    <p>
        From showing off 3D print <button class="pop" onclick="modal_on('printsuccess.jpg')">successes</button> and <button class="pop" onclick="modal_on('printfail.jpg')">failures</button><br />
        To subsequent <button class="pop" onclick="modal_on('breakdown1.jpg')">breakdowns</button> and <button class="pop" onclick="modal_on('breakdown2.jpg')">repairs</button><br />
        <button class="pop" onclick="modal_on('raspi.jpg')">Tinkering with RasPis</button> and realizing your network sucks<br />
        By the way, I never found out who was hiding <button class="pop" onclick="modal_on('pinkduck.jpg')">those pink ducks...</button><br />
    </p>

    <p>
        Playing Pokemon Go when it was hip<br />
        And the <button class="pop" onclick="modal_on('luminarium.jpg')">Luminarium</button> was a <button class="pop" onclick="modal_on('jackbrowns.jpg')">total trip</button><br />
        Always down for board game nights<br />
        And <button class="pop" onclick="modal_on('wigglers.jpg')">Wiggler hats</button> in monster fights<br />
        Sharing media and Plex servers<br />
        And all those links from Thingiverse<br />
        Dog-sitting the assistant and <button class="pop" onclick="modal_on('branchmanager.jpg')">branch manager</button><br />
        Then scrubbing walls of their <button class="pop" onclick="modal_on('chargedirt.jpg')">dirt and fur</button><br />
    </p>

    <p>
        Fuck I’m running out of things to rhyme in this list<br />
        <button class="pop" onclick="overlay_on()">Just remember that...</button><br />
    </p>

    <div id="overlay" onclick="overlay_off()"></div>

    <p>
        For one of the smartest people I know<br />
        And just an awesome person overall, so…<br />
    </p>

    <p>
        From Virginia to California<br />
        Have a fantastic birthday - <button class="pop" onclick="modal_on('us.jpg')">I miss ya!</button><br />
    </p>

    <p>
        (Did I really make a web page as a birthday card? Yes. Yes I did.)
    </p>
    <br />
    <img src="~/images/hbj/JLN_CB1.gif" />
</div>

<!--Jennifer, I doubt you will find this message (and I'm not sure I even want you to)
    - but if somehow you do, I just want you to know that you mean way more to me than 
    all that shit I'm reminiscing about above. I'm not brave enough to tell you, and I don't think
    I do a good job hiding it anyway, but my world changed when I met you some 3+ years ago.
    It's hard to explain, but just know that you are important to me. 
    Have a happy birthday :) - Love ya and miss ya tons...-->


