﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<!-- Header with full-height image -->
<div class="bgimg-1 w3-grayscale-min index-header" id="home">
    <div class="w3-display-left w3-text-white" style="padding: 48px;">
        <span class="w3-jumbo w3-hide-small outlined">andoink.com</span><br>
        <span class="w3-xxlarge w3-hide-large w3-hide-medium outlined">andoink.com</span><br>
        <span class="w3-large outlined">The only place for genuine andoink.</span>
        <p><a asp-page="/About" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Made from 100% natural ingredients</a></p>
    </div>
</div>


<!--


<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner_me.png" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    <span style="white-space: pre-line">@Model.CarouselMeMessage</span>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner_dev.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    <span style="white-space: pre-line">@Model.CarouselDevMessage</span>
                    <a class="btn btn-default" href="DoinkGames">
                        @Model.CarouselDevButtonMessage
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner_3dprint.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    <span style="white-space: pre-line">@Model.CarouselPrintMessage</span>
                    <a class="btn btn-default" href="Printing">
                        @Model.CarouselPrintButtonMessage
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner_film.png" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    <span style="white-space: pre-line">@Model.CarouselFilmMessage</span>
                    <a class="btn btn-default" href="FilmReviews">
                        @Model.CarouselFilmButtonMessage
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div id="pageTagline" class="tagline">
    Developer. Maker. Gamer. Cinephile.
</div>

<div class="aboutMe">
    <p>
        <span style="white-space: pre-line">@Model.AboutMe</span>
    </p>
</div>

-->
<!-- Default Razor stuff that might still be useful -->
<!--
<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li>Sample pages using ASP.NET Core Razor Pages</li>
            <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>How to</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?linkid=852130">Working with Razor Pages.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Overview</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Run &amp; Deploy</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure App Service</a></li>
        </ul>
    </div>
</div>
    -->
